flask
anthropic
python-dotenv
pyodbc
pytest
pandas
numpy
faker
chainlit
langchain-anthropic
langchain-core
pydantic=2.10.1
ipykernel
aiohttp
pypdf 
langchain_community
langchain_chroma
langchain-google-genai